*{
    background-color: #ecd4e1;
}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f3e3f0;
}
header nav a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    font-size: large;
    font-style: oblique;
    cursor: pointer;
    color: black;
    margin-bottom: 1px;
    text-decoration: none;

}
#Home h1{ 
    background-color: pink;
    font-size: 150px;
}
#description p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: justify;
    width: 500px;
    height: max-content;
    margin-bottom: 100px;
} 
#image img{
    border-radius: 400px;
    float: right;
}
#Photography h2{
    font-style: italic;
    font-size: 80px;
    background-color: #b6878f;
    text-align: center;
}
#Contact h2{
    font-style: italic;
    font-size: 50px;
    background-color: #c1737e;
}
#Contact form button:hover{
    background-color: #f3e3f0;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    
}
    